.nav-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 20px;
    margin : 0px 300px 0px 300px;
    height: 80px;
}

.nav-link-item {
    margin: 40px;
}
.nav-login-item {
    margin: 20px;
    font-size: 18px;
}

.nav-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.nav-login {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}