.login {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 300px 0 300px;
    font-size: 20px;
}

.login-input{ 
    font-size: 20px;
    padding: 10px;
    width: 300px;
    
}

.login-bnt {
    font-size: 18px;
    font-family: "GowunDodum-Regular";
    margin-top: 20px;
    height: 50px;
    width: 324px;
}
.login-error {

    font-size: 18px;
    margin: 20px 0 20px 0;
    text-align: center;
}

.login-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.login-sub-title {
    margin: 10px 0 10px 0;
}