.coffeecafe-map-modal {
    height: 300px;
    width: 300px;
    position: relative;
}

.coffeecafe-map-modal-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.coffeecafe-map-modal-image-container {
    height: 75%;
    margin: 0px 0px 5px 0px;
}

.coffeecafe-map-modal-info-flex > div {
    margin: 2px 15px 0px 15px;

}

.coffeecafe-map-modal-info-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coffeecafe-map-modal-address {
    font-size: 18px;
}

.coffeecafe-map-modal-name {
    font-size: 20px;
}
.coffeecafe-map-modal-score {
    font-size: 20px;
}

.coffeecafe-map-modal-close {
    position: absolute;
    left : 90%;
    top : 5%
    
}