.listcontainer {
  margin: 0 0 40px 0;
}

.listcontainer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  width: 600px;
}

.listcontainer-info-title {
  font-weight: 700;
  font-size: 20px;
  margin: 5px 0 5px 0;
}

.listcontainer-info-score {
  font-size: 18px;
  margin: 5px 0 5px 0;
}

.listcontainer-info-user {
  text-align: end;
  font-size: 15px;
  margin: 5px 0 5px 0;
}

.listcontainer-info-date {
  font-size: 15px;
  margin: 5px 0 5px 0;
}

.listcontainer-info-content {
  font-size: 18px;
  margin: 5px 0 5px 0;
}

.listcontainer-info-title-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

.listcontainer-image-list {
  display: flex;
}
.listcontainer-image-list > div {
  width: 200px;
}
.listcontainer-image-list > div > img {
  width: 100%;
}
