.element {
  margin: 100px; /* 초기 마진 설정 */
  transition: margin 0.5s ease; /* 마진에 대한 변화를 0.5초 동안 부드럽게 적용 */

  /* 화면 크기가 작아질 때 마진을 줄임 */
  @media screen and (max-width: 800px) {
    margin: 10px; /* 작은 화면에 대한 마진 설정 */
  }
}

/* E7B98E */
