/* Link Font */
a {
  text-decoration: none;
  color: black;
}
   a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
/* a:hover, a:active { text-decoration: none; } */

body {
  overflow-y: overlay; /* 반드시 overlay 처리 */
}

::-webkit-scrollbar {
  width: 10px; /* 세로축 스크롤바 폭 너비 */
  height: 10px; /* 가로축 스크롤바 폭 너비 */
}
::-webkit-scrollbar-thumb {
  background: #e7b98e; /* 스크롤바 막대 색상 */
  border: 2px solid #e7b98e; /* 스크롤바 막대 테두리 설정  */
  border-radius: 12px 12px 12px 12px;
}
